// colors 
$custom-primary-1: #FFFFFF;   // White
$custom-primary-2: #363738;   // Dark Gray

// Text Colors
$custom-text-white: #FAFAFA;
$custom-text-gray: #7D8184;  
$custom-dark-color: #000000;


$custom-secondary-1: #FEFAF1; // Light Beige
$custom-secondary-2: #DB4444; // Red
$custom-secondary-3: #F5F5F5; // Light Gray

$custom-btn-1: #47B486;       // Green Button
$custom-btn-2: #DB4444;       // Red Button
$custom-hover-btn-1: #E2B93B; // Hover Red
$custom-hover-btn-2: #EB5757; // Hover Blue
$bg-input:#EFF0F6;


$border-radius: 10px;




// color themes
$clr-title:#14142B;
$clr-body:#4E4B66;
$clr-label:#6E7191;
$clr-placehoder:#A0A3BD;
$clr-line:#A0A3BD;

$bg-clr:#F7F7FC;
$bg-clr-white:#FCFCFC;

// colors
$clr-primary:#5F2EEA;
$clr-secondary:#1CC8EE;
$clr-error:#ED2E7E;
$clr-success:#00BA88;
$clr-warning:#F4B740; 

// buttons
$clr-btn-1:#00FF66;
// $clr-grandient-primary:#EFF0F6;
// $clr-grandient-accent:#EFF0F6;
// $clr-grandient-secondary:#EFF0F6;
// $clr-grandient-primary:#EFF0F6;




